page-page1 {
    .button{
        background-color: #359521;
    }
    .background{
        background-image: url('../assets/imgs/bg.jpg');
    }
    ion-title  {
        margin-top: 30vh;
        margin-bottom: 5vh;
        
    }

}
